html{
    padding: 1.25rem;
    border-radius: 50%
}

h1{
    text-align:left;
    font-size: 1.25rem;
}
body{
    background: none;
    align-items: left;
}

div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
}

button{
    border: 1px solid white;
    border-radius: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0059AD;
    color: white;
    transition: background-color 0.2s;
}

button:hover{
    background-color: #0071db;
}