@font-face{
    font-family: "VCR-OSD-Mono";
    src: 
    url("VCR_OSD_MONO_1.001.ttf");
}

html{
    font-family: "VCR-OSD-Mono";
    padding: 1.25rem;
    border-radius: 50%;
    background-color: #ffebb0;
}

h1{
    font-family: "VCR-OSD-Mono";
    font-weight: 300;
    text-align:left;
    font-size: 1.25rem;
    color: #430000;
}
body{
    display:flex;
    flex-direction: column;
    background: none;
    align-items: left;
    min-width: 20rem;
}

div{
    font-family: "VCR-OSD-Mono";
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.001rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    min-width: 5rem;
    color: #430000;
}

input{
    font-family: "sans-serif";
    background-color: #ffebb0;
    border: 1px solid black;
    font-size: 20px;
    padding: 2px;
}

input:focus{
    border: 1px solid black; 
    outline: none;
}

button{
    border: 1px solid white;
    border-radius: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0059AD;
    color: white;
    transition: background-color 0.2s;
}

button:hover{
    background-color: #0071db;
}